<app-internal-nav></app-internal-nav>
<section id="research">
  <div class="first_block" id="block">
    <div class="left">
      <img src="../../../assets/img/Devostock_Oscilloscope.png" alt="">
    </div>
    <div class="right">
      <h2>UFTAM - Recherche</h2>
      <p>
        Les principes fondateurs et directeurs de l’UFTAM sont l’excellence, l’innovation et l’interdisciplinarité qui
        s’inscrivent dans sa dynamique quotidienne pour « faire le pont » entre ses activités pédagogiques et
        scientifiques.
      </p>
    </div>
  </div>
  <div class="second_block" id="block">
    <div class="left">
      <p>
        L’UFTAM entend innover sur le terrain scientifique en mariant les sciences humaines et sociales, les sciences
        pour
        l’ingénieur et les sciences de l’environnement.
      </p>
    </div>
    <div class="right">
      <p>
        Elle a pour partenaires scientifiques les laboratoires et unités de recherche de ses membres fondateurs
        (Universités et établissements publics) : Université de Carthage, Université de Tunis El Manar, Université de
        Tunis, Université de Côte d’Azur (UCA), Université d’Aix-Marseille (AMU), Université Paris 1 Panthéon Sorbonne,
        Ecole normale supérieure (ENS) de Paris Saclay, Ecole nationale supérieure de techniques avancées (ENSTA) Paris
        Tech.
      </p>
    </div>
  </div>
  <div class="third_block" id="block">
    <div class="left">
      <h2>Le leader régional</h2>
      <p>
        Mise au service de l’employabilité et du développement Economique, les axes de la recherche scientifique de
        l’UFTAM seront déterminés directement avec les partenaires de l’écosystème méditerranéen, maghrébin et africain
        spécialisés dans les enjeux des sociétés en transition (numérique, démographique, économique, démocratique,
        environnementale). L’UFTAM a vocation à s’affirmer comme le leader régional d’une recherche académique
        d’excellence et d’un développement interdisciplinaires capables de relever les défis du Maghreb et de l’Afrique.
      </p>
    </div>
    <div class="right">
      <img src="../../../assets/img/Pixabay_Laboratory_1.png" alt="">
    </div>
  </div>
</section>

<app-footer></app-footer>
