<header id="internal">
  <div class="top_connect">
    <ul class="">
      <li class="">
        <a class="nav-link" href="#">Se connecter</a>
      </li>
      <li class="seperate">
        |
      </li>
      <li class="">
        <a class="nav-link" href="#">Créer un compte</a>
      </li>
    </ul>
  </div>
  <div class="container" id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="../../assets/img/uftam_logo.png" alt="uftam_logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" name="nav-item">
            <a class="nav-link" routerLink=''>Accueil
              <div class="underline"></div>
            </a>
          </li>
          <li class="nav-item " name="nav-item">
            <a class="nav-link" routerLink='/uftam_about'>uftam <span class="sr-only">(current)</span></a>
            <div class="underline"></div>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <div class="underline"></div>
              Formation

            </a>
            <div class="dropdown-menu" id="" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" id="toggle_drop_first">
                Licence
              </a>

              <ul id="item_drop_first">
                <li *ngFor="let l of license">
                  <a [routerLink]="['', 'uftam_formation', 'uftam_license', l.id,'license']" class="">
                    {{l.lib}}
                  </a>
                </li>
              </ul>
              <a class="dropdown-item" id="toggle_drop_second">
                Masters
              </a>

              <ul id="item_drop_second">
                <li *ngFor="let m of master">
                  <a [routerLink]="['', 'uftam_formation', 'uftam_master', m.id, 'master']" class="">
                    {{m.lib}}
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item " name="nav-item">
            <a class="nav-link" routerLink='/uftam_partners'> Partenaires <div class="underline">
              </div>
            </a>
          </li>
          <li class="nav-item " name="nav-item">
            <a class="nav-link" routerLink='/uftam_actuality'>Admission <div class="underline">
              </div></a>
          </li>
          <li class="nav-item" name="nav-item">
            <a class="nav-link" routerLink='/uftam_vie'>Vie étudiante <div class="underline">
              </div></a>
          </li>
          <li class="nav-item " name="nav-item">
            <a class="nav-link" routerLink='/uftam_actuality'>Actualité <div class="underline">
              </div></a>
          </li>
          <li class="nav-item active" name="nav-item">
            <a class="nav-link" routerLink='/uftam_contact'>Contact <div class="underline">
              </div></a>
          </li>
        </ul>
        <form class="mr-5 form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 d-none" type="search" placeholder="Search" aria-label="Search">
          <button class="my-2 my-sm-0" type="submit">
            <i class="fas fa-search fa-lg"></i>
          </button>
        </form>
      </div>
    </nav>

  </div>
</header>

<section class="info" id="actuality">
  <div class="info_wrapper container">
    <div class="contact_form">
      <form id="contact" (onSubmit)='sendMail($event)'>
        <div class="contact_left">
          <h4>Contactez-nous</h4>
          <div class="inputs-group">
            <label for="contact_name">Nom</label> <br>
            <input type="text" name="contact_name" id="contact_name" class="contact_name"
              placeholder="Insérez votre nom" required>
          </div>
          <div class="inputs-group">
            <label for="contact_email">E-mail</label> <br>
            <input type="email" name="contact_email" id="contact_email" class="contact_email"
              placeholder="Insérez votre e-mail" required>
          </div>
          <div class="inputs-group" id="robot">
            <div class="checkbox">
              <label>
                <input type="checkbox" class="d-none contact_robot" name="contact_robot" id="contact_robot">
                <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                Je ne suis pas un robot
              </label>
            </div>
          </div>
        </div>
        <div class="saperate"></div>
        <div class="contact_right">
          <div class="inputs-group input_top">
            <label for="contact_message">Message</label> <br>
            <textarea name="contact_message" id="contact_message" class="contact_message"
              placeholder="Insérez votre texte"></textarea>
          </div>
          <div class="btn-block">
            <button class="btn btn-primary mr-3 template-btn1-dark block">Envoyer votre message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="conatct">
  <div class="newsletter">
    <div class="newsletter_left">
      <h2>Commencez à nos suivre</h2>
      <p>Inscrivez-vous à notre newsletter</p>
    </div>
    <div class="newsletter_right">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Insérez votre adresse mail" aria-describedby="subscribe">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="subscribe">S'abonner</button>
        </div>
      </div>
    </div>
  </div>
  <div class="contact_info">
    <div class="contact_map">
      <a target="_blank"
        href="https://www.google.com/maps/place/L'Universit%C3%A9+franco-tunisienne+pour+l'Afrique+et+la+M%C3%A9diterran%C3%A9e+(UFTAM)/@36.7208792,10.2353453,15z/data=!4m2!3m1!1s0x0:0x217e55ddb0636451?sa=X&ved=2ahUKEwjK35qcosXpAhUnxoUKHfFRCd8Q_BIwFnoECAsQCA"><img
          src="../../assets/img/location.png" alt=" map"></a>
    </div>
    <div class="contact_details">
      <div class="contact_email">
        <h4>Email</h4>
        <p>contact@uftam.net</p>
      </div>
      <div class="contact_address">
        <h4>Adresse</h4>
        <p>UFTAM(prés de Marché de Gros, Bir El <br> Kasaa) El Mourouj 2074, TUNISIE</p>
      </div>
      <div class="phone">
        <h4>Appelez-nous</h4>
        <p>71 100 100 / 71 666 666</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="footer_top">
    <div class="container">
      <ul>
        <li><a href="#">A propos de l'Uftam</a></li>
        <li><a href="#">Nos formations</a></li>
        <li><a href="#">Contactez-nous</a></li>
        <li>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="footer_bootom_left">
      <p> Tous les droits sont reservés pour UFTAM</p>
    </div>
    <div class="footer_bootom_right">
      <p> Powred by Digilinks</p>
    </div>
  </div>
</footer>
