<app-internal-nav></app-internal-nav>
<div class="pre">
  <div class="text">
    <h1>Formulaire</h1>
    <h2>de pré-inscription 2020-2021</h2>
  </div>
  <div>
    <a target="_blank" href="{{apiUrl}}handers/condidat/document/Formulaire-de-candidature.docx"
      class="btn btn-primary template-btn1-dark block">Télécharger</a>
  </div>
</div>
<section class="inscription">
  <form #f="ngForm" [formGroup]="userInfo" (submit)='submitCondidat(f, $event)' class="userForm">
    <h1>Vos coordonnées</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="inputBox">
          <div class="inputText">Nom*</div>
          <input type="text" aria-label="first name" formControlName="userInfoFirstName"
            [(ngModel)]="userInfo.firstName" class="input" (click)='setFocus($event)'>
        </div>
      </div>
      <div class="col-md-6">
        <div class="inputBox">
          <div class="inputText">Prénom*</div>
          <input type="text" aria-label="Last name" formControlName="userInfoLastName" [(ngModel)]="userInfo.lastName"
            class="input" (click)='setFocus($event)'>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="inputBox">
          <div class="inputText">Email*</div>
          <input required type="email" class="input" formControlName="userInfoEmail" [(ngModel)]="userInfo.email"
            id="email" (click)='setFocus($event)'>
        </div>
      </div>
      <div class="col-md-6">
        <div class="inputBox">
          <div class="inputText">Date de naissance*</div>
          <input required type="text" class="input" formControlName="userInfoDate" [(ngModel)]="userInfo.date"
            bsDatepicker id="eventDate" (click)='setFocus($event)'>
        </div>
      </div>
    </div>

    <ngx-intl-tel-input [cssClass]="custom" [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="false"
      [enablePlaceholder]="true" [searchCountryFlag]="true"
      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
      [selectedCountryISO]="CountryISO.India" [maxLength]="15" [tooltipField]="TooltipLabel.Name"
      [phoneValidation]="true" [separateDialCode]="separateDialCode" formControlName="userInfoPhone"
      [(ngModel)]="userInfo.phone">
    </ngx-intl-tel-input>

    <select class="form-control" id="typeFormation" formControlName="userInfoFormation"
      [(ngModel)]="userInfo.formation">
      <option value="Default" selected>--- Choisir un Formation ---</option>
      <option *ngFor="let formation of formations_select" value="{{formation.id}}">{{formation.type}}
        {{formation.lib}}
      </option>
    </select>

    <h1>Vos documents</h1>

    <div class="input-group">
      <label class="input-group-text" for="file1"> Formulaire de candidature rempli</label>
      <input type="file" name="form_cond" id="file1" required (change)='onFileChanged_1($event)'>
    </div>

    <div class="input-group">
      <label class="input-group-text" for="file2">Pièce d'identité</label>
      <input type="file" name="form_cond" id="file2" required (change)='onFileChanged_2($event)'>
    </div>

    <div class="input-group">
      <label class="input-group-text" for="file3">Derniers relevés de notes depuis Licence 1 (Sauf pour certificats)
      </label>
      <input type="file" name="form_cond" id="file3" required (change)='onFileChanged_3($event)'>
    </div>

    <div class="input-group">
      <label class="input-group-text" for="file4">CV </label>
      <input type="file" name="form_cond" id="file4" required (change)='onFileChanged_4($event)'>
    </div>

    <div class="input-group">
      <label class="input-group-text" for="file5">Lettre de motivation</label>
      <input type="file" name="form_cond" id="file5" required (change)='onFileChanged_5($event)'>
    </div>

    <div class="input-group">
      <label class="input-group-text" for="file6">Lettre de recommandation </label>
      <input type="file" name="form_cond" id="file6" required (change)='onFileChanged_6($event)'>
    </div>

    <div class="input-group">
      <label class="input-group-text" for="file7">Autres documents complémentaires</label>
      <input type="file" name="form_cond" id="file7" required (change)='onFileChanged_7($event)'>
    </div>

    <button type="submit" class="form-control btn-outline-primary btn">Submit</button>

  </form>
</section>

<app-footer></app-footer>
