<app-internal-nav></app-internal-nav>

<div id="partners">
  <section class="partners">
    <div class="partner_top">
      <h2 class="text-center">Membres fondateurs</h2>
      <div class="d-flex flex justify-content-between flex-row">
        <p>
          L’Université Franco-Tunisienne pour l’Afrique et la Méditerranée (UFTAM) a ouvret ses portes à la rentrée 2019
          pour offrir à des étudiants de l’Afrique Sub-saharienne autant qu’à des étudiants tunisiens, français ou
          méditerranéens un panel de formations d’excellence coconstruites par de très grandes universités publiques
          françaises et tunisiennes. Annoncée conjointement par la Tunisie et la France lors de la visite officielle du
          Président Macron à Tunis en janvier 2018, l’UFTAM illustre la volonté des deux pays de constituer en Tunisie
          un
          hub régional d’enseignement supérieur, pour former les futures générations d’entrepreneurs et de cadres
          supérieurs et de salariés dont l’Afrique et l’espace méditerranéen ont besoin.
        </p>
        <p>
          Assurés par des enseignants-chercheurs français et tunisiens et par des professionnels de haut niveau, les
          formations offertes par l’UFTAM visent l’employabilité immédiate des diplômés : ils pourront faire valoir
          auprès
          des entreprises tunisiennes, africaines et françaises leur diplôme de l’UFTAM ainsi que les diplômes français
          et
          tunisiens délivrés par les établissements partenaires des formations. Certains cursus sont également ouverts
          aux
          salariés ou aux personnes en reprise d’études, leur permettant de redynamiser leur vie professionnelle.
          L’UFTAM
          vise enfin à permettre le développement d’une recherche orientée vers les grands défis sociétaux et les
          objectifs de développement durable.
        </p>
      </div>
      <img data-aos="fade-in" src="../../../assets/img/partner_1.png" alt="">
    </div>

    <h2 class="text-center" data-aos="fade-up">Partenaires</h2>
    <p data-aos="fade-up">
      Fondée sur l’interdisciplinarité entre sciences humaines et sociales et sciences pour l’ingénieur, l’UFTAM peut
      compter sur des partenaires institutionnels solides qui jouent un rôle primordial au sein de l’université.
    </p>
    <div class="container" data-aos="fade-in">
      <div class="f_logo_container">
        <img src="../../../assets/img/partner_2.png" alt="">
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
