@import '../../home/home.component.css';

:root {
  --primary-color: #2a416d !important;
  --secondary-color: black !important;
}

/* info */
.info {
  font-family: 'poppins', sans-serif;
  background: #f5f6fc;
  position: relative;
  z-index: -1;
}

.info article h4 {
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.info article>p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 40px;
}

.info article .text-bg {
  background: var(--primary-color);
  color: #fff;
  padding: 6%;
  margin-top: 30px;
  font-style: italic;
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
}

.info article .text-bg p:nth-child(2) {
  font-weight: 700;
}

.container {
  background: transparent !important;
}

.f_logo_container {
  background: transparent !important;
  height: auto !important;
  margin-bottom: 20px;
}

.f_logo_container img {
  width: 100% !important;
  height: auto !important;
}

div#partners {
  background: #f5f6fc;
  padding-bottom: 5%;
}

.partners {
  font-family: 'poppins', sans-serif;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 160px;
}

.partners h2 {
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 5%;
}


.partners .container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

@media (max-width: 700px) {
  .info article>p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .partners .f_logo_container img {
    margin-top: 22px;
    padding: 0 !important;
    background: #fff;
    width: 100%;
  }

  .f_logo_container img {
    width: 100% !important;
    transform: scale(1.5);
  }

  .partners {
    margin-bottom: 0px !important;
  }
}

.partners p {
  font-family: 'poppins';
  font-weight: 600;
  margin-right: 20px;
}

.partners div>p {
  text-align: justify;
}

.partners h2 {
  font-family: 'poppins black', 'poppins';
  font-weight: 800;
  font-size: 25px;
  color: var(--primary-color);
}

.partners>h2 {
  margin-top: 50px;
}

.partner_top img {
  width: 100%;
  height: auto;
}

.partners {
  padding-top: 60px;
  height: auto !important;
  background: #f5f6fc;
  padding-bottom: 0 !important;
}
