<div class="pageheader-nav">
  <ol class="breadcrumb slim-breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin/typeFormationView">Type Formation</a></li>
    <li class="breadcrumb-item">Edit Type Formation</li>
  </ol>
</div>
<form (ngSubmit)="updateTypeFormation($event)">
  <div class="input-group mb-3">
    <input type="text" class="form-control" id="typeFormation" placeholder="Nom Du Type"
      aria-label="Recipient's username" aria-describedby="basic-addon2" *ngFor="let t of type" value={{t.lib}}>
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="submit">Modifier</button>
    </div>
  </div>
</form>
<app-flash-messages></app-flash-messages>
