<div class="pageheader-nav">
  <ol class="breadcrumb slim-breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Home</a></li>
    <li class="breadcrumb-item">Companies</li>
  </ol>
</div>
<div class="container text-right mb-1">
  <a routerLink="../addConfCompanies" class="btn btn-primary">
    <i class="fas fa-plus"></i> Ajouter un Company
  </a>
</div>
<table class="table table-dark">
  <thead class="">
    <tr class="head">
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Logo</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <style>

    </style>
    <tr *ngFor="let company of companies">
      <th scope="row">{{company.id}}</th>
      <td id="{{company.id}}">{{company.lib}}</td>
      <td class="w-25" id="{{company.id}}">
        <img src="{{apiUrl}}handers/company/uploads/{{company.path}}" alt="">
      </td>
      <td>
        <a *ngIf="company.status === 'yes'" id="{{company.id}}" (click)="storeItem($event);disableRow($event)"
          class="btn btn-outline-warning form-control-sm mr-3">
          <i id="{{company.id}}" class="far fa-eye-slash">
          </i>
        </a>

        <a *ngIf="company.status === 'no'" id="{{company.id}}" (click)="storeItem($event);enableRow($event)"
          class="btn btn-outline-warning form-control-sm mr-3">
          <i id="{{company.id}}" class="far fa-eye">
          </i>
        </a>

        <a id="{{company.id}}" (click)="storeItem($event);deleteRow($event)"
          class="btn btn-outline-danger form-control-sm">
          <i id="{{company.id}}" class="far fa-trash-alt">
          </i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
