<app-internal-nav></app-internal-nav>
<section class="company">
  <h1>L'Université Franco-Tunisienne pour l'Afrique et la Méditerranée (UFTAM) </h1>
  <h2>Mot de bienvenue !</h2>
  <p>L’Université Franco-Tunisienne pour l’Afrique et la Méditerranée (UFTAM) a ouvert ses portes à la rentrée 2019
    pour offrir à des étudiants de l’Afrique Sub-saharienne autant qu’à des étudiants tunisiens, français ou
    méditerranéens un panel de formations d’excellence co-construites par de très grandes universités publiques
    françaises et tunisiennes. </p>
  <img src="../../../assets/img/UFTAM_Master_1.png" class="float-left" alt="img">
  <img src="../../../assets/img/UFTAM_Master_2.png" class="float-right" alt="img">
  <h2 class="clear" style="clear: both;">Un hub d’enseignement supérieur</h2>
  <p>
    Annoncée conjointement par la Tunisie et la France lors de la visite officielle du Président Macron à Tunis en
    janvier 2018, l’UFTAM illustre la volonté des deux pays de constituer en Tunisie un hub régional d’enseignement
    supérieur, pour former les futures générations d’entrepreneurs et de cadres supérieurs et de salariés dont
    l’Afrique et l’espace méditerranéen ont besoin.
  </p>
  <img src="../../../assets/img/rentree etudiants.png" class="w-100" alt="img">
</section>

<app-footer></app-footer>
