button {
  background: none;
  border: none;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.mr-auto,
.mx-auto {
  margin-right: 0 !important;
}

nav {
  margin-right: 8%;
  position: relative;
  z-index: 12335;
}


.navbar-brand {
  transform: translate(80%, 0%);
  width: 20%;
}

.navbar-brand img {
  width: 90%;
}

.navbar-collapse {
  transform: translateX(-10%);
}

.nav-item {
  font-family: 'poppins';
  font-size: 13px;
}

.nav-item {
  position: relative;
}

.nav-item .nav-link {
  color: #fff !important;
}

.nav-item:hover div.underline {
  position: absolute;
  height: 3px;
  width: 35px;
  background: #fff;
  z-index: 1;
}


.nav-item:nth-child(1):hover div.underline,
.nav-item.active:nth-child(1) div.underline {
  bottom: 0;
  right: 15px;
}


.nav-item:nth-child(2):hover div.underline,
.nav-item.active:nth-child(2) div.underline {
  bottom: 0;
  right: 10px;
}

.nav-item:nth-child(3):hover div.underline,
.nav-item.active:nth-child(3) div.underline {
  bottom: 0;
  right: 35px;
}

.nav-item:nth-child(4):hover div.underline,
.nav-item.active:nth-child(4) div.underline {
  bottom: 0;
  right: 25px;
}

.nav-item:nth-child(5):hover div.underline,
.nav-item.active:nth-child(5) div.underline {
  bottom: 0;
  right: 25px;
}

.nav-item:nth-child(6):hover div.underline,
.nav-item.active:nth-child(6) div.underline {
  bottom: 0;
  right: 32px;
}

.nav-item:nth-child(7):hover div.underline,
.nav-item.active:nth-child(7) div.underline {
  bottom: 0;
  right: 12px;
}

.nav-item:nth-child(8):hover div.underline,
.nav-item.active:nth-child(8) div.underline {
  bottom: 0;
  right: 18px;
}

.nav-item.active div.underline {
  position: absolute;
  height: 3px;
  width: 35px;
  background: #fff;
  z-index: 1;
}


/* internal */
#nav-bar a.navbar-brand {
  transform: translate(0%, 0%) !important;
  width: 20% !important;
}

#item_drop_first,
#item_drop_second {
  width: 25vw;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 80%;
  margin-left: 20%;
  background: #fff;
  padding: 20px 40px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  list-style: none;
}

#toggle_drop_first:hover~#item_drop_first,
#toggle_drop_second:hover~#item_drop_second {
  visibility: visible;
}

#item_drop_first:hover,
#item_drop_second:hover {
  visibility: visible;
}

#item_drop_first li,
#item_drop_second li {
  margin-bottom: 30px;
}

#item_drop_first li a,
#item_drop_second li a {
  text-decoration: none;
  cursor: pointer;
}

#item_drop_first li a:hover,
#item_drop_second li a:hover {
  color: #2a416d;
  font-weight: 800;
}
