<div class="pageheader-nav">
  <ol class="breadcrumb slim-breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin/formationDetailsView">Formation Details</a></li>
    <li class="breadcrumb-item">Add Formation</li>
  </ol>
</div>
<form (ngSubmit)="addFormation($event)">
  <div class="form-group">
    <label for="typeFormation">Type</label>
    <select class="form-control" id="typeFormation">
      <option value="Default">--- Choisir un Formation ---</option>
      <option *ngFor="let formation of formations" value="{{formation.id}}">{{formation.lib}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="formationNiveau">Niveau</label>
    <input required type="text" class="form-control" id="formationNiveau" aria-describedby="emailHelp"
      placeholder="Niveau Formation..">
  </div>

  <div class="form-group">
    <label for="formationPre">Prérequis</label>
    <textarea required type="text" class="form-control" id="formationPre" placeholder="Prérequis Formation.."
      rows="5"></textarea>
  </div>

  <div class="form-group">
    <label for="formationDuration">Durée</label>
    <input required type="text" class="form-control" id="formationDuration" placeholder="Durée Formation..">
  </div>
  <div class="form-group">
    <label for="formationRegime">Régime</label>
    <input required type="text" class="form-control" id="formationRegime" placeholder="Régime Formation..">
  </div>

  <div class="form-group">
    <label for="formationAdmission">Modalités d'admission</label>
    <input required type="text" class="form-control" id="formationAdmission" placeholder="Modalités Formation..">
  </div>

  <div class="form-group">
    <label for="formationEn">Enjeux</label>
    <textarea required class="form-control" id="formationEn" placeholder="Enjeux Formation.." name=""
      rows="5"></textarea>
  </div>

  <div class="form-group">
    <label for="formationProgram">Programme pédagogique</label>
    <textarea required type="text" class="form-control" id="formationProgram" placeholder="Programme Formation.."
      name="" rows="5"></textarea>
  </div>

  <div class="form-group">
    <label for="formationDebouch">Débouchés</label>
    <textarea required type="text" class="form-control" id="formationDebouch" placeholder="Débouchés Formation.."
      name="" rows="5"></textarea>
  </div>

  <div class="form-group">
    <label for="formationPublic">Public Accueillis et prérequis</label>
    <textarea required type="text" class="form-control" id="formationPublic"
      placeholder="Public Accueillis et prérequis Formation.." name="" rows="5"></textarea>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
 
