<div class="wrapper" style="height: 100vh !important;">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <app-admin-side-nav></app-admin-side-nav>
  </nav>
  <!-- Page Content Holder -->
  <div id="content">
    <app-admin-top-nav></app-admin-top-nav>
    <div class="container jumbotron">

<main class="page-content">
  <div class="card">
    <div class="content">
      <h2 class="title"> Ajouter une formation</h2>
      <p class="copy">La Formation est divisée en 3 catégories (licences, certificats, masters)</p>
      <button class="btn" routerLink='/admin/addFormation'>Visiter</button>
    </div>
  </div>
  <div class="card">

  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Ajouter un évènement ou actualité</h2>
      <p class="copy">
            Un événement est divisé en 2 types: <br>
            - First: les Événements <br>
            - Second: Actualité <br>
      </p>
      <button class="btn" routerLink='/admin/addEvent'>Visiter</button>
    </div>
  </div>
</main>

      <!-- <main class="page-content">
       <div class="card">
        <div class="content">
          <h2 class="title">Mountain View</h2>
          <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
          <button class="btn">View Trips</button>
        </div>
      </div>
        <div class="card transition">
          <h2 class="transition"></h2>
          <p></p>
          <div class="cta-container transition"><a  class="cta">visiter</a></div>
          <div class="card_circle transition"></div>
        </div>

        <div class="card transition">
          <h2 class="transition"></h2>
          <p>
            Un événement est divisé en 2 types: <br>
            - First: les Événements <br>
            - Second: Actualité <br>
          </p>
          <div class="cta-container transition"><a routerLink='/admin/addEvent' class="cta">visiter</a></div>
          <div class="card_circle transition"></div>
        </div>
      </div> -->

    </div>
  </div>
</div>
