<!-- successadd -->
<div class="alert alert-success animated" role="alert" id="successAdded">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Succès</h4>
  Information a été ajouté!
</div>
<!-- errormsgs -->
<div class="alert alert-danger animated" role="alert" id="errorMsg">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Erreur</h4>
  SVP! remplissez le formulaire...
</div>

<!-- email unkonow -->
<div class="alert alert-danger animated" role="alert" id="errorCode">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Erreur</h4>
  Erreur inconnue! Essayez d'actualiser la page ou contactez l'administrateur.
</div>

<!-- still didnt change -->


<!-- successmsg -->
<div class="alert alert-success animated" role="alert" id="successMsg">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Succès!</h4>
</div>
<!-- successsignup -->
<div class="alert alert-success animated" role="alert" id="successSignup">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Succès</h4>
  vous êtes maintenant inscrit!
</div>
<!-- successpass -->
<div class="alert alert-success animated" role="alert" id="successPassed">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Succès</h4>
  Merci de vous inscrire <i class="far fa-smile-beam"></i>!
</div>
<!-- email or pass is incorrect -->
<div class="alert alert-danger animated" role="alert" id="emailExist">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Erreur</h4>
  Email déjà exist!
</div>
<!-- username exist -->
<div class="alert alert-danger animated" role="alert" id="usernameExist">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Erreur</h4>
  Veuillez sélectionner un niveau!
</div>
<!-- phone wrong -->
<div class="alert alert-danger animated" role="alert" id="phoneWrong">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Erreur</h4>
  Numéro de WhatsUp invalide!
</div>
<!-- email exist -->
<div class="alert alert-danger animated" role="alert" id="incorrectCred">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Erreur</h4>
  Email ou mot de passe invalide!
</div>
