<div class="pageheader-nav">
  <ol class="breadcrumb slim-breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
    <li class="breadcrumb-item">Type Formation</li>
  </ol>
</div>
<div class="container text-right mb-1">
  <a routerLink="../addTypeFormation" class="btn btn-secondary">
    <i class="fas fa-plus"></i> Ajouter un Type
  </a>
</div>
<table class="table table-dark">
  <thead class="">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let type of types" (click)="storeItem($event)">
      <th scope="row" (click)="storeItem($event)">{{type.id}}</th>
      <td id="{{type.id}}" (click)="storeItem($event)">{{type.lib}}</td>
      <td>
        <!-- routerLink="../editTypeFormation" -->
        <a id="{{type.id}}" routerLink="../editTypeFormation" (click)="storeItem($event)"
          class="btn btn-outline-info form-control-sm mr-3">
          <i id="{{type.id}}" class="far fa-edit">
          </i>
        </a>

        <a *ngIf="type.status === 'yes'" id="{{type.id}}" (click)="storeItem($event);disableRow($event)"
          class="btn btn-outline-warning form-control-sm mr-3">
          <i id="{{type.id}}" class="far fa-eye-slash">
          </i>
        </a>

        <a *ngIf="type.status === 'no'" id="{{type.id}}" (click)="storeItem($event);enableRow($event)"
          class="btn btn-outline-warning form-control-sm mr-3">
          <i id="{{type.id}}" class="far fa-eye">
          </i>
        </a>

        <a id="{{type.id}}" (click)="storeItem($event);deleteRow($event)"
          class="btn btn-outline-danger form-control-sm">
          <i id="{{type.id}}" class="far fa-trash-alt">
          </i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
