<app-internal-nav></app-internal-nav>

<section class="info">
  <div class="formation_top_grid">
    <div class="left">
      <img src="{{apiUrl}}handers/formations/uploads/{{image}}" alt="formation_img">
    </div>
    <div class="right">
      <div class="formation_box">
        <div class="box_header">
          <img src="../../../../assets/icons/graduation-hat.png" alt="">
        </div>
        <div class="box_body">
          <h4>Niveau:</h4>
          <p [innerHtml]="niveau"></p>
        </div>
      </div>
      <div class="formation_box">
        <div class="box_header">
          <img src="../../../../assets/icons/study.png" alt="">
        </div>
        <div class="box_body display_fix">
          <h4>Prérequis:</h4>
          <p class="size_fix" [innerHtml]="prerequis"></p>
        </div>
      </div>
      <div class="formation_box">
        <div class="box_header">
          <img src="../../../../assets/icons/calendar.png" alt="">
        </div>
        <div class="box_body">
          <h4>Durée:</h4>
          <p class="size_fix" [innerHtml]="duration"></p>
        </div>
      </div>
      <div class="formation_box">
        <div class="box_header">
          <img src="../../../../assets/icons/future.png" alt="">
        </div>
        <div class="box_body">
          <h4>Régime:</h4>
          <p class="size_fix" [innerHtml]="regime"></p>
        </div>
      </div>
      <div class="formation_box">
        <div class="box_header">
          <img src="../../../../assets/icons/future.png" alt="">
        </div>
        <div class="box_body display_fix">
          <h4>Modaliés d’admission:</h4>
          <p class="size_fix" [innerHtml]="mod_admission"></p>
        </div>
      </div>
      <div class="text-center" id="top_btn">
        <button class="btn btn-primary template-btn1-dark block">CANDIDATER</button>
      </div>
    </div>
  </div>
  <div class="under_box">
    <div class="flexed">
      <div class="under_inner_box">
        <div>
          <h2>Enjeux</h2>
        </div>
        <div>
          <p [innerHTML]="enjeux">
          </p>
        </div>
      </div>
      <div class="under_inner_box">
        <div>
          <h2>Programme <br>
            pédagogique</h2>
        </div>
        <div>
          <p [innerHTML]="program ">
          </p>
        </div>
      </div>
      <div class="under_inner_box">
        <div>
          <h2>Débouchés <br>
            et poursuite <br>
            d’études</h2>
        </div>
        <div>
          <p [innerHTML]="debouche ">

          </p>
        </div>
      </div>
    </div>
    <div class="text-center" id="top_btn" style="position: relative;margin-top: 20px;">
      <a target="_blank" href="{{apiUrl}}handers/formations/documents/{{document}}"
        class="btn btn-primary template-btn1-dark block mt-3 mb-2">
        TÉLÉCHARGER LA BROCHURE
      </a>
    </div>
  </div>
  <div class="public">
    <h2>Publics Accueillis et prérequis</h2>
    <p [innerHTML]="public_acceuil">
    </p>
  </div>
  <div class="diploma">
    <h2>
      Le diplôme est encadré par
    </h2>
    <span *ngFor="let logo of diplome_logos">
      <img src="{{apiUrl}}handers/formations/diplome/{{logo.logo}}" alt="img">
    </span>
    <!-- <img src="../../../../assets/logos/diploma2.png" alt="img">
    <img src="../../../../assets/logos/diploma3.png" alt="img">
    <img src="../../../../assets/logos/diploma4.png" alt="img">
    <img src="../../../../assets/logos/diploma5.png" alt="img"> -->
  </div>
</section>

<app-footer></app-footer>
