<header id="internal">
  <div class="top_connect">
    <ul class="">
      <li class="">
        <a class="nav-link" href="#">Se connecter</a>
      </li>
      <li class="seperate">
        |
      </li>
      <li class="">
        <a class="nav-link" href="#">Créer un compte</a>
      </li>
    </ul>
  </div>
  <div class="container" id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="../../assets/img/uftam_logo.png" alt="uftam_logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" name="nav-item">
            <a class="nav-link" routerLink='/home'>Accueil
              <div class="underline"></div>
            </a>
          </li>
          <li class="nav-item " name="nav-item">
            <a class="nav-link" routerLink='/uftam_about'>uftam <span class="sr-only">(current)</span></a>
            <div class="underline"></div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <div class="underline"></div>
              Formation

            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink='/uftam_formation/uftam_license'>Licence</a>
              <a class="dropdown-item" routerLink='/uftam_formation/uftam_master'>Masters</a>
              <a class="dropdown-item" routerLink='/uftam_formation/uftam_certificate'>Certificats</a>
            </div>
          </li>
          <li class="nav-item " name="nav-item">
            <a class="nav-link" routerLink='/uftam_partners'> Partenaires <div class="underline">
              </div>
            </a>
          </li>
          <li class="nav-item active" name="nav-item">
            <a class="nav-link" routerLink='/uftam_actuality'>Admission <div class="underline">
              </div></a>
          </li>
          <li class="nav-item" name="nav-item">
            <a class="nav-link" routerLink='/uftam_vie'>Vie étudiante <div class="underline">
              </div></a>
          </li>
          <li class="nav-item" name="nav-item">
            <a class="nav-link" routerLink='/uftam_actuality'>Actualité <div class="underline">
              </div></a>
          </li>
          <li class="nav-item" name="nav-item">
            <a class="nav-link" routerLink='/uftam_contact'>Contact <div class="underline">
              </div></a>
          </li>
        </ul>
        <form class="mr-5 form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 d-none" type="search" placeholder="Search" aria-label="Search">
          <button class="my-2 my-sm-0" type="submit">
            <i class="fas fa-search fa-lg"></i>
          </button>
        </form>
      </div>
    </nav>

  </div>
</header>


<section class="info">
  <div class="formation_top_grid">
    <div class="left">
      <img src="../../../../assets/img/master_formation.png" alt="formation_img">
      <div class="formation_image_text">
        <h2>Master En Gestion</h2>
        <h2>De l'environnement</h2>
        <h2>et Métiers de l'eau</h2>
      </div>
    </div>
    <div class="right">
      <div class="formation_box">
        <div class="box_header">
          <!-- <i class="fas fa-graduation-cap"></i> -->
          <img src="../../../../assets/icons/graduation-hat.png" alt="">
        </div>
        <div class="box_body">
          <h4>Niveau:</h4>
          <p>Master Professionnel</p>
        </div>
      </div>
      <div class="formation_box">
        <div class="box_header">
          <!-- <i class="fas fa-graduation-cap"></i> -->
          <img src="../../../../assets/icons/study.png" alt="">
        </div>
        <div class="box_body display_fix">
          <h4>Prérequis:</h4>
          <p class="size_fix">Etudiants détenteurs d’une licence Fondamentale
            ou appliquée de Chimie ou de Physique- Chimie,
            Sciences et Vie de la Terre, ou Sciences de la Vie
            orientées vers les Sciences de l’Univers
            et de l’Environnement.</p>
        </div>
      </div>
      <div class="formation_box">
        <div class="box_header">
          <!-- <i class="fas fa-graduation-cap"></i> -->
          <img src="../../../../assets/icons/calendar.png" alt="">
        </div>
        <div class="box_body">
          <h4>Durée:</h4>
          <p class="size_fix">3 semestres et stage </p>
        </div>
      </div>
      <div class="formation_box">
        <div class="box_header">
          <!-- <i class="fas fa-graduation-cap"></i> -->
          <img src="../../../../assets/icons/future.png" alt="">
        </div>
        <div class="box_body">
          <h4>Régime:</h4>
          <p class="size_fix">Formation initiale ; plein temps</p>
        </div>
      </div>
      <div class="formation_box">
        <div class="box_header">
          <!-- <i class="fas fa-graduation-cap"></i> -->
          <img src="../../../../assets/icons/future.png" alt="">
        </div>
        <div class="box_body display_fix">
          <h4>Modaliés d’admission:</h4>
          <p class="size_fix">L’admissibilité se fait sur dossier et l’admission par un entretien.</p>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary template-btn1-dark block">CONDIDATER</button>
      </div>
    </div>
  </div>
  <div class="under_box">
    <div class="flexed">
      <div class="under_inner_box">
        <div>
          <h2>Enjeux</h2>
        </div>
        <div>
          <p>
            Le master Gestion de l’environnement et métiers de l’eau a pour ambitions de répondre aux enjeux de l’eau,
            afin
            d’assurer les besoins humains (” Leaving no one behind “), en quantité et en qualité, tout en préservant la
            biodiversité. Résolument pluridisciplinaire, il a pour objectif de former les étudiants à maîtriser les
            concepts
            et techniques relevant des évolutions les plus récentes. Il s’inscrit dans une approche scientifique visant
            le
            fonctionnement des systèmes et écosystèmes continentaux, leur protection et leur réhabilitation, dans le
            contexte du changement global et de la raréfaction des ressources.
          </p>
        </div>
      </div>
      <div class="under_inner_box">
        <div>
          <h2>Programme <br>
            pédagogique</h2>
        </div>
        <div>
          <p>
            Des enseignements au cœur de la spécialité en chimie, hydrologie, génie écologique et génie des procédés
            <br>
            <br>
            Des enseignements complémentaires pour l’exercice des fonctions d’ingénieur ou de chercheur en
            mathématiques,
            géomatique, gestion des risques, communication de crise, gestion de projet, sociologie, géographie et
            aménagement, droit de l’environnement <br>
            <br>
            Une formation laissant une large part aux activités de mise en situation : apprentissage par problème,
            projets
            intégrateurs, études de cas, stages de terrain, stage de 6 mois en M2
          </p>
        </div>
      </div>
      <div class="under_inner_box">
        <div>
          <h2>Débouchés <br>
            et poursuite <br>
            d’études</h2>
        </div>
        <div>
          <p>
            Exemple de métiers: <br>
            <br>
            -Chargé de mission/projet en bureau d’étude (impact/risques) <br>
            -Hydrologue/hydrogéologue <br>
            -Chargé d’études assainissement/potabilisation <br>
            -Chargé de projet eau et milieux aquatique <br>
            -Police de l’eau <br>
            <br>
            Poursuite d’études: <br>
            -Doctorat en sciences de l’environnement<br>
            -Conditions d’admission<br>
            -Examen du dossier de candidature par la commission pédagogique franco-tunisienne puis entretien<br>
          </p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary template-btn1-dark block mt-3 mb-2">
        TÉLÉCHARGER LA BROCHURE
      </button>
    </div>
  </div>
  <div class="public">
    <h2>Publics Accueillis et prérequis</h2>
    <p>
      Etudiant en formation initiale : 180 ECTS d’une licence Fondamentale ou appliquée de Chimie ou de Physique- Chimie
      , Sciences et Vie de la Terre, ou Sciences de la Vie orientées vers les Sciences de l’Univers et de
      l’Environnement. <br> <br>
      Reprise d’études
    </p>
  </div>
  <div class="diploma">
    <h2>
      Le displôme est encadré par
    </h2>
    <img src="../../../../assets/logos/diploma1.png" alt="img">
    <img src="../../../../assets/logos/diploma2.png" alt="img">
    <img src="../../../../assets/logos/diploma3.png" alt="img">
    <img src="../../../../assets/logos/diploma4.png" alt="img">
    <img src="../../../../assets/logos/diploma5.png" alt="img">
  </div>
</section>

<section class="event">
  <div class="section_grid">
    <div class="event_left">
      <div class="event_container" *ngFor="let event of firstEvents, let i = index, let c = count">
        <div class="event_grid" *ngIf="i < 3">
          <div class="event_date">
            <h4>{{event.day}} <br> <span>{{event.monthName}}</span></h4>
          </div>
          <div class="event_details">
            <div class="event_header">
              <h4 class="font-weight-bold">{{event.lib}}</h4>
            </div>
            <div class="event_body">
              <p>
                {{event.desc}}
              </p>
            </div>
            <div class="event_read_more">
              <a href="#" class=""> Plus de détails <i class="fas fa-caret-right"></i> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="event_read_more text-center">
        <button class="btn btn-primary mt-3 template-btn1-dark block">
          Voir tous les évènements
        </button>
      </div>
    </div>
    <div class="event_right">
      <div class="event_inscription_container">
        <div class="inscription_header">
          <h2>
            Inscirvez-vous <br>
            au prochain <br>
            évènement!
          </h2>
          <div class="inscription_separator"></div>
        </div>
        <div class="inscription_body mb-3 mt-3">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum expedita sed reprehenderit? Odit in consectetur
            dolorum dolor nihil, quisquam sunt.
          </p>
        </div>
        <div class="inscription_footer">
          <button class="btn btn-primary btn-lg btn-inscription-1">
            Inscrivez-vous
          </button> <br>
          <button class="btn btn-primary btn-lg btn-inscription-2">
            Plus de détails
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="eventCarousel" class="carousel slide event_slider" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active first">
      <div class="e_slider_wrapper">
        <div class="e_slide container" name="e_slide" *ngFor='let active of activeEvents'>
          <div class="e_slide_image">
            <img src="{{apiUrl}}handers/events/uploads/{{active.path}}" alt="">
            <!-- <img src="../../assets/img/test.jpg" alt=""> -->
          </div>
          <div class="e_slide_header">
            <h2 class="font-weight-bold">A la une</h2>
          </div>
          <div class="e_slide_body">
            <h2 class="font-weight-bold">{{active.lib}}</h2>
            <p>
              {{active.desc}}
            </p>
          </div>
          <div class="e_slide_footer">
            <a href="#">
              <span>Plus de détails </span>
              <i class="fas fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" *ngFor='let event of otherEvents, let i = index, let c = count'>
      <div class="e_slider_wrapper">
        <div class="e_slide container" name="e_slide" *ngFor='let e of event'>
          <div class="e_slide_image">
            <img src="{{apiUrl}}handers/events/uploads/{{e.path}}" alt="">
            <!-- <img src="../../assets/img/test.jpg" alt=""> -->
          </div>
          <div class="e_slide_body">
            <h2 class="font-weight-bold">{{e.lib}}</h2>
            <p>
              {{e.desc}}
            </p>
          </div>
          <div class="e_slide_footer">
            <a href="#">Plus de détails <i class="fas fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="e_slider_pagination">
    <div class="e_buttons">
      <a style="color:black" class="carousel-control-prev" href="#eventCarousel" role="button" data-slide="prev">
        <span id="left" class="carousel-control-prev template-pagPrev-dark">
          <i class=" fas fa-caret-left"></i>
        </span>
      </a>
      <a style="color:black" class=" carousel-control-next" href="#eventCarousel" role="button" data-slide="next">
        <span id="right" class="carousel-control-next template-pagNext-dark">
          <i class="fas fa-caret-right"></i>
        </span>
      </a>
    </div>
  </div>
</section>

<div class="section_shape">
  <section id="feedCarousel" class="carousel slide feed mb-5" data-ride="carousel">
    <img src="../../assets/img/studentExpIcon.png" class="student_icon" alt="">
    <div class="container carousel-inner">
      <div class="carousel-item active">
        <div class="feed_wrapper row-cols-3">
          <div class="feed_container" *ngFor="let vie of activeVies, let i = index, let c = count">
            <div class="feed_picture">
              <img src="{{apiUrl}}handers/laVie/uploads/{{vie.path}}" alt="img">
            </div>
            <div class="feed_header">
              <h2>{{vie.lib}}</h2>
            </div>
            <div class="feed_body">
              <p>
                {{vie.description}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" *ngFor='let laVies of otherVies, let i = index, let c = count'>
        <div class="feed_wrapper row-cols-3">
          <div class="feed_container" *ngFor="let vie of laVies, let i = index, let c = count">
            <div class="feed_picture">
              <img src="{{apiUrl}}handers/laVie/uploads/{{vie.path}}" alt="img">
            </div>
            <div class="feed_header">
              <h2>{{vie.lib}}</h2>
            </div>
            <div class="feed_body">
              <p>
                {{vie.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#feedCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#feedCarousel" data-slide-to="1"></li>
      <li data-target="#feedCarousel" data-slide-to="2"></li>
    </ol>
    <div class="feed_pagination">
      <div class="feed_buttons">
        <a style="color:black" class="carousel-control-prev" href="#feedCarousel" role="button" data-slide="prev">
          <span id="left" class="carousel-control-prev">
            <i class=" fas fa-caret-left"></i>
          </span>
        </a>
        <a style="color:black" class=" carousel-control-next" href="#feedCarousel" role="button" data-slide="next">
          <span id="right" class="carousel-control-next">
            <i class="fas fa-caret-right"></i>
          </span>
        </a>
      </div>
    </div>
  </section>
</div>

<section class="conatct">
  <div class="newsletter">
    <div class="newsletter_left">
      <h2>Commencez à nos suivre</h2>
      <p>Inscrivez-vous à notre newsletter</p>
    </div>
    <div class="newsletter_right">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Insérez votre adresse mail" aria-describedby="subscribe">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="subscribe">S'abonner</button>
        </div>
      </div>
    </div>
  </div>
  <div class="contact_info">
    <div class="contact_map">
      <a target="_blank"
        href="https://www.google.com/maps/place/L'Universit%C3%A9+franco-tunisienne+pour+l'Afrique+et+la+M%C3%A9diterran%C3%A9e+(UFTAM)/@36.7208792,10.2353453,15z/data=!4m2!3m1!1s0x0:0x217e55ddb0636451?sa=X&ved=2ahUKEwjK35qcosXpAhUnxoUKHfFRCd8Q_BIwFnoECAsQCA"><img
          src="../../assets/img/location.png" alt=" map"></a>
    </div>
    <div class="contact_details">
      <div class="contact_email">
        <h4>Email</h4>
        <p>contact@uftam.net</p>
      </div>
      <div class="contact_address">
        <h4>Adresse</h4>
        <p>UFTAM(prés de Marché de Gros, Bir El <br> Kasaa) El Mourouj 2074, TUNISIE</p>
      </div>
      <div class="phone">
        <h4>Appelez-nous</h4>
        <p>71 100 100 / 71 666 666</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="footer_top">
    <div class="container">
      <ul>
        <li><a href="#">A propos de l'Uftam</a></li>
        <li><a href="#">Nos formations</a></li>
        <li><a href="#">Contactez-nous</a></li>
        <li>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="footer_bootom_left">
      <p> Tous les droits sont reservés pour UFTAM</p>
    </div>
    <div class="footer_bootom_right">
      <p> Powred by Digilinks</p>
    </div>
  </div>
</footer>
