<app-internal-nav></app-internal-nav>

<section class="info">
  <div class="formation_top_grid">
    <div class="left">
      <img src="../../../../assets/img/master_formation.png" alt="formation_img">
      <div class="formation_image_text">
        <h2>Master En Gestion</h2>
        <h2>De l'environnement</h2>
        <h2>et Métiers de l'eau</h2>
      </div>
    </div>
    <div class="right">
      <div class="formation_box">
        <div class="box_header">
          <!-- <i class="fas fa-graduation-cap"></i> -->
          <img src="../../../../assets/icons/graduation-hat.png" alt="">
        </div>
        <div class="box_body">
          <h4>Niveau:</h4>
          <p>Master Professionnel</p>
        </div>
      </div>
      <div class="formation_box">
        <div class="box_header">
          <!-- <i class="fas fa-graduation-cap"></i> -->
          <img src="../../../../assets/icons/study.png" alt="">
        </div>
        <div class="box_body display_fix">
          <h4>Prérequis:</h4>
          <p class="size_fix">Etudiants détenteurs d’une licence Fondamentale
            ou appliquée de Chimie ou de Physique- Chimie,
            Sciences et Vie de la Terre, ou Sciences de la Vie
            orientées vers les Sciences de l’Univers
            et de l’Environnement.</p>
        </div>
      </div>
      <div class="formation_box">
        <div class="box_header">
          <!-- <i class="fas fa-graduation-cap"></i> -->
          <img src="../../../../assets/icons/calendar.png" alt="">
        </div>
        <div class="box_body">
          <h4>Durée:</h4>
          <p class="size_fix">3 semestres et stage </p>
        </div>
      </div>
      <div class="formation_box">
        <div class="box_header">
          <!-- <i class="fas fa-graduation-cap"></i> -->
          <img src="../../../../assets/icons/future.png" alt="">
        </div>
        <div class="box_body">
          <h4>Régime:</h4>
          <p class="size_fix">Formation initiale ; plein temps</p>
        </div>
      </div>
      <div class="formation_box">
        <div class="box_header">
          <!-- <i class="fas fa-graduation-cap"></i> -->
          <img src="../../../../assets/icons/future.png" alt="">
        </div>
        <div class="box_body display_fix">
          <h4>Modaliés d’admission:</h4>
          <p class="size_fix">L’admissibilité se fait sur dossier et l’admission par un entretien.</p>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary template-btn1-dark block">CONDIDATER</button>
      </div>
    </div>
  </div>
  <div class="under_box">
    <div class="flexed">
      <div class="under_inner_box">
        <div>
          <h2>Enjeux</h2>
        </div>
        <div>
          <p>
            Le master Gestion de l’environnement et métiers de l’eau a pour ambitions de répondre aux enjeux de l’eau,
            afin
            d’assurer les besoins humains (” Leaving no one behind “), en quantité et en qualité, tout en préservant la
            biodiversité. Résolument pluridisciplinaire, il a pour objectif de former les étudiants à maîtriser les
            concepts
            et techniques relevant des évolutions les plus récentes. Il s’inscrit dans une approche scientifique visant
            le
            fonctionnement des systèmes et écosystèmes continentaux, leur protection et leur réhabilitation, dans le
            contexte du changement global et de la raréfaction des ressources.
          </p>
        </div>
      </div>
      <div class="under_inner_box">
        <div>
          <h2>Programme <br>
            pédagogique</h2>
        </div>
        <div>
          <p>
            Des enseignements au cœur de la spécialité en chimie, hydrologie, génie écologique et génie des procédés
            <br>
            <br>
            Des enseignements complémentaires pour l’exercice des fonctions d’ingénieur ou de chercheur en
            mathématiques,
            géomatique, gestion des risques, communication de crise, gestion de projet, sociologie, géographie et
            aménagement, droit de l’environnement <br>
            <br>
            Une formation laissant une large part aux activités de mise en situation : apprentissage par problème,
            projets
            intégrateurs, études de cas, stages de terrain, stage de 6 mois en M2
          </p>
        </div>
      </div>
      <div class="under_inner_box">
        <div>
          <h2>Débouchés <br>
            et poursuite <br>
            d’études</h2>
        </div>
        <div>
          <p>
            Exemple de métiers: <br>
            <br>
            -Chargé de mission/projet en bureau d’étude (impact/risques) <br>
            -Hydrologue/hydrogéologue <br>
            -Chargé d’études assainissement/potabilisation <br>
            -Chargé de projet eau et milieux aquatique <br>
            -Police de l’eau <br>
            <br>
            Poursuite d’études: <br>
            -Doctorat en sciences de l’environnement<br>
            -Conditions d’admission<br>
            -Examen du dossier de candidature par la commission pédagogique franco-tunisienne puis entretien<br>
          </p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary template-btn1-dark block mt-3 mb-2">
        TÉLÉCHARGER LA BROCHURE
      </button>
    </div>
  </div>
  <div class="public">
    <h2>Publics Accueillis et prérequis</h2>
    <p>
      Etudiant en formation initiale : 180 ECTS d’une licence Fondamentale ou appliquée de Chimie ou de Physique- Chimie
      , Sciences et Vie de la Terre, ou Sciences de la Vie orientées vers les Sciences de l’Univers et de
      l’Environnement. <br> <br>
      Reprise d’études
    </p>
  </div>
  <div class="diploma">
    <h2>
      Le diplôme est encadré par
    </h2>
    <img src="../../../../assets/logos/diploma1.png" alt="img">
    <img src="../../../../assets/logos/diploma2.png" alt="img">
    <img src="../../../../assets/logos/diploma3.png" alt="img">
    <img src="../../../../assets/logos/diploma4.png" alt="img">
    <img src="../../../../assets/logos/diploma5.png" alt="img">
  </div>
</section>

<app-footer></app-footer>
